:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--emerald-950);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --emerald-50: #ecfdf5;
  --emerald-100: #d1fae5;
  --emerald-200: #a7f3d0;
  --emerald-300: #6ee7b7;
  --emerald-400: #34d399;
  --emerald-500: #10b981;
  --emerald-600: #059669;
  --emerald-700: #047857;
  --emerald-800: #065f46;
  --emerald-900: #064e3b;
  --emerald-950: #022c22;

  /* Accent Colors */
  --teal-400: #2dd4bf;
  --sky-400: #38bdf8;
  
  /* Background Colors */
  --bg-dark: #041520;
  --bg-light: #f8fafc;
  
  /* Text Colors */
  --text-light: #f8fafc;
  --text-dark: #0f172a;
  
  /* Shadow */
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}


body {
  margin: 0;
}

.client__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.client__container svg {
  padding: 12px;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #042337;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: var(--bg-dark);
    color: var(--text-light);
  }
}

/* Light mode defaults */
@media (prefers-color-scheme: light) {
  :root {
    background-color: var(--bg-light);
    color: var(--text-dark);
  }
}
